@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1024px) {
  body {
    cursor: grab;
  }

  a,
  button,
  [role="button"],
  .nav-links a {
    cursor: pointer;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
