.bottom {
    display: flex;
    flex-direction: row;        
    justify-content: space-between;  
    align-items: flex-start;   
    padding-bottom: 3vh;  
    padding-left: 3vw;  
    padding-right: 3vw;    
}

.bottom-right p {
    margin: 0;              
    font-size: 16px;
    color: #434842;
    font-weight: 150;
    cursor: pointer;     
    transition: color 0.3s ease;
}

.bottom-left p {
    margin: 0;              
    font-size: 16px;
    color: #434842;
    font-weight: 150;   
    transition: color 0.3s ease;
}

.bottom p:hover a {
    color: #9cba7c;   
    transition: color 0.3s ease;     
}

.bottom-right a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}



@media (max-width: 767px) {

    .bottom-left p {
    font-size: 12px;
  }
    .bottom-right p {
    font-size: 12px;
  }
}