.sticker-board {
  position: relative;
  width: 90vw;
  height: 80vh;
  margin: 20px auto;
  overflow: hidden;
  touch-action: none;
}

.sticker {
  position: absolute;
  width: auto;
  height: auto;
  cursor: grab;
  transition: transform 0.25s ease;
  user-select: none;
}

.sticker:hover {
cursor: pointer;       
transform: translateY(-10px); 
}

.sticker:active {
  cursor: grabbing;
  transform: scale(1.05);
}

.sticker.active {
  transform: translateY(-5px);
}


@media (max-width: 767px) {
  .sticker-board {
    width: 95vw;
    height: 60vh;
  }

  .sticker {
    max-width: 150px;
  }
}